<%- include('./partials/header') %>
<div class="container mt-5">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold">Contact Page</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Quickly store your contact information, right away. Worry free and amazingly fast. If you ever used any yellow-pages before, then this is the right place for you.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/login" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
                <a href="/register" class="btn btn-outline-secondary btn-lg px-4">Sign me up!</a>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>